@property --w {
  syntax: '<length>';
  inherits: true;
  initial-value: 100vw;
}
@property --h {
  syntax: '<length>';
  inherits: true;
  initial-value: 100vh;
}

:root{
  --defaultbackground: #333;
  --lighterbackground: #444;
  --lightlightbackground: #555;
}
* {
  margin: 0;
  padding: 0;
  background-color: var(--defaultbackground);
}
::-webkit-scrollbar {
    width: 1em;
    height: 0.5em;
  }
  ::-webkit-scrollbar-track {
    background: #888;
    border-radius: 100vw;
    margin-block: 0.5em;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(red, blue);
    border: 0.25em solid #ddd;
    border-radius: 100vw;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#A00, #00A);
    border-color: #ccc;
  }

::selection {
  background-color: blue;
  color: white;
}

.countdown {
  margin-bottom: 0.5vw;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  font-size: 4vw; 
  font-family: sans-serif;
  background-color: var(--lighterbackground);
}
.countdown-text {
  background-color: var(--lighterbackground);
  padding: 0 0.5vw 0 0.5vw;
}
.countdown-number {
  color: red;
  font-size: 5vw;
  background-color: var(--lightlightbackground);
  border-radius: 1vw;
  padding: 1vw;
}

.firework-gif-container {
  margin-bottom: 0.5vw;
  padding: 1vw;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
}
.firework-gif {
  width: auto;
}

.container {
  display: flex;
  margin-bottom: 0.5vw;
}
.fireworkrocket-rocket {
  padding-top: 15vw;
  padding-bottom: 0vw;
  width: 5vw;
  transition: 1000ms;
  background-color: transparent;
}
.fireworkrocket-rocket:hover {
  padding-top: 0vw;
  padding-bottom: 15vw;
}
.fireworkrocket-container {
  display: flex;
}
.fireworkrocket-button {
  background-color: blue;
  border-color: #000096;
  color: red;
  float: left;
  border-style: solid;
  border-radius: 1vw;
  border-width: 0.5vw;
  outline: none;
  cursor: pointer;
  padding: 0.5vw;
  font-size: 2vw;
  transition: 0.3s;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
}
.fireworkrocket-button:hover {
  background-color: rgb(0, 0, 200);
  border-color: rgb(0, 0, 100);
  box-shadow: 0 0 30px 1vh rgba(0,0,255,0.8);
}
@media only screen and (max-width: 1000px) {
  .fireworkrocket-container {
    display: none;
  }
}
footer{
  background-color: #888;
  padding-left: 1vw;
}
.sylvester {
  width: 10%;
  margin-right: 0vw;
}