:root{
    --defaultbackground: #333;
    --lighterbackground: #444;
    --lightlightbackground: #555;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--defaultbackground);
}

body {
    background-color: var(--defaultbackground);
    display: flex;
}
.countdown {
    color: blue;
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
    background-color: var(--lighterbackground);
    padding: 20px;
    position: sticky;
}
.days, .hours, .minutes, .seconds {
    color: red;
    font-size: 40px;
    background-color: var(--lightlightbackground);
    border-radius: 10px;
    padding: 15px 20px 10px;
    text-decoration: underline;
    text-decoration-color: aquamarine;
    text-decoration-thickness: 10px;
}
.firework {

}

::-webkit-scrollbar {
    width: 1em;
    height: 0.5em;
  }
  ::-webkit-scrollbar-track {
    background: #888;
    border-radius: 100vw;
    margin-block: 0.5em;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(red, blue);
    border: 0.25em solid #ddd;
    border-radius: 100vw;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#A00, #00A);
    border-color: #ccc;
  }